<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>zty配置</title>
    <script src="https://unpkg.com/vue@3"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-plus"></script>
    <!-- import axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- import icon -->
    <script src="//unpkg.com/@element-plus/icons-vue"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            /* 使得元素的宽度和高度包括 padding 和 border */
        }

        .header {
            background-color: black;
            color: white;
            height: 60px;
        }

        .footer {
            background-color: black;
            color: white;
            height: 60px;
        }

        .main {
            background-color: #f6f6f6;
        }

        .input-area {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
        }

        .edit-area {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 40px;
        }

        .table-area {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    </style>
</head>

<body>
    <div id="app">
        <el-container style="height: 100vh;">
            <el-header class="header">
                <div>zty配置-v1.0内测版本</div>
            </el-header>
            <el-main style="background-color: #f6f6f6;">
                <div class="input-area">
                    <el-input v-model="input" style="max-width: 800px; height: 60px;" placeholder="Please input @Email">
                        <template #append>
                            <el-button :icon="Search" @click="onSearch(this.input)" style="width: 100px;" />
                        </template>
                    </el-input>
                </div>
                <div class="edit-area">
                    <div style="width: 100%; display: inline;">
                        <el-button type="primary" @click="centerDialogVisible = true">添加任务</el-button>
                    </div>
                </div>
                <div class="table-area">
                    <el-table :data="tableData" stripe style="width: 100%;">
                        <el-table-column prop="email" label="邮箱" width="200"></el-table-column>
                        <el-table-column label="任务类型" width="150" :formatter="formatTaskType"></el-table-column>
                        <el-table-column prop="startTime" label="开始时间" width="150"></el-table-column>
                        <el-table-column prop="intervalHours" label="间隔时间" width="150"></el-table-column>
                        <el-table-column prop="shutdownTime" label="免打扰时间" width="150"></el-table-column>
                        <el-table-column prop="createdTime" label="创建时间" width="200"></el-table-column>
                        <el-table-column prop="lastModifiedTime" label="上次执行时间" width="200"></el-table-column>
                        <el-table-column label="状态" width="100">
                            <template #default="scope">
                                <el-switch v-model="scope.row.status" :active-value="'1'" :inactive-value="'0'"
                                    @change="handleStatusChange(scope.row)" />
                            </template>
                        </el-table-column>
                        <el-table-column label="删除">
                            <template #default="scope">
                                <el-button type="danger" @click="handleDel(scope.row)">Del</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
                <el-dialog v-model="centerDialogVisible" title="添加任务" width="800" center>
                    <template #default>
                        <el-form :model="form" :inline="true">

                            <el-form-item label="邮箱" label-width="100px">
                                <el-input v-model="form.email" autocomplete="off" style="width: 250px;"></el-input>
                            </el-form-item>

                            <el-form-item label="地区" label-width="100px">
                                <el-input v-model="form.cityName" autocomplete="off" style="width: 250px;"></el-input>
                            </el-form-item>

                            <el-form-item label="任务类型" label-width="100px">
                                <el-select v-model="form.taskType" placeholder="请选择任务类型" style="width: 250px;">
                                    <el-option label="每日" value="0"></el-option>
                                    <el-option label="自定义时间" value="1"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="开始时间" label-width="100px">
                                <el-time-picker v-model="form.startTime" placeholder="选择时间" value-format="HH:mm:ss"
                                    style="width: 250px;"></el-time-picker>
                            </el-form-item>
                            <el-form-item label="免打扰时间" label-width="100px">
                                <el-time-picker v-model="form.shutdownTime" placeholder="选择时间" value-format="HH:mm:ss" :disabled="isDailyTask"
                                                style="width: 250px;"></el-time-picker>
                            </el-form-item>
                            <el-form-item label="间隔时间(分钟)" label-width="120px">
                                <el-input v-model="form.intervalMinutes" autocomplete="off" style="width: 230px;"></el-input>
                            </el-form-item>
                        </el-form>
                    </template>
                    <template #footer>
                        <div class="dialog-footer">
                            <el-button @click="centerDialogVisible = false">取消</el-button>
                            <el-button type="primary" @click="handleAdd">
                                添加
                            </el-button>
                        </div>
                    </template>
                </el-dialog>
            </el-main>
            <el-footer class="footer">
                <div>footer</div>
            </el-footer>
        </el-container>
    </div>

    <script>
        const baseUrl = "http://localhost:8080/task";
        const App = {
            data() {
                return {
                    message: "Hello Element Plus",
                    input: '',
                    centerDialogVisible: false,
                    Search: ElementPlusIconsVue.Search,
                    tableData: [],
                    form: {},
                };
            },
            methods: {
                // 解析任务类型
                formatTaskType(row) {
                    return row.taskType === 0 ? '每日任务' : '自定义时间';
                },
                // 禁止秒选取
                disabledSeconds() {
                    result = []
                    for (let i = 1; i <= 59; i++) {
                        result.push(i)
                    }
                    return result
                },
                onSearch(email) {
                    axios.get(`${baseUrl}/get?email=${email}`)
                        .then(response => {
                            console.log(response.data)
                            if (response.data.code === 1) {
                                this.tableData = response.data.data
                            } else {
                                ElMessage({message: 'Warning, this is a warning message.',type: 'warning',})
                            }
                        })
                },
                handleStatusChange(row) {
                    axios({
                        method: 'put',
                        url: `${baseUrl}/put`,
                        params: {
                            id: row.id,
                            status: row.status
                        }
                    }).then(res => {
                        if (response.data.code === 1) {
                            // 在 tableData 中找到对应的元素
                            const index = this.tableData.findIndex(item => item.id === row.id);
                            if (index !== -1) {
                                // 更新该元素的 status 值
                                this.tableData[index].status = row.status;
                            }
                        } else {

                        }
                    })
                },
                handleDel(row) {
                    axios({
                        method: 'delete',
                        url: `${baseUrl}/delete`,
                        params: {
                            id: row.id
                        }
                    }).then(response => {
                        if (response.data.code === 1) {
                            // 如果删除成功，从 tableData 中移除对应的行数据
                            this.tableData = this.tableData.filter(item => item.id !== row.id);
                        } else {

                        }
                    })
                },
                handleAdd() {
                    this.form.status = 1;
                    axios({
                        method: 'post',
                        url: `${baseUrl}/post`,
                        data: this.form
                    }).then(response => {
                        if (response.data.code === 1) {
                            this.onSearch(this.form.email)
                        } else {

                        }
                        this.centerDialogVisible = false
                    })
                },
                disabledSeconds(){
                    return [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,
                        32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59];
                }

            },
            computed: {
                isDailyTask() {
                    if(this.form.taskType === '0'){
                        this.form.intervalHours = '00:00:00'
                        this.form.shutdownTime = '00:00:00'
                        return true;
                    }else{
                        return false;
                    }
            }
  }
        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount("#app");
    </script>
</body>

</html>